BLOCK RESETPATHS;
BLOCK ASYNCPATHS;

LOCATE COMP "CLK" SITE "105" ;
LOCATE COMP "nRST" SITE "23" ;
LOCATE COMP "LED[0]" SITE "20" ;
LOCATE COMP "LED[1]" SITE "19" ;
LOCATE COMP "LED[2]" SITE "17" ;
LOCATE COMP "LED[3]" SITE "15" ;

LOCATE COMP "VID_DDR_PCLK" SITE "1" ;
LOCATE COMP "VID_DDR_HSYNC" SITE "3" ;
LOCATE COMP "VID_DDR_VSYNC" SITE "4" ;
LOCATE COMP "VID_DDR_DE" SITE "2" ;

LOCATE COMP "VID_DDR_DAT[0]" SITE "142" ;
LOCATE COMP "VID_DDR_DAT[1]" SITE "143" ;
LOCATE COMP "VID_DDR_DAT[2]" SITE "140" ;
LOCATE COMP "VID_DDR_DAT[3]" SITE "141" ;

LOCATE COMP "VID_DDR_DAT[4]" SITE "138" ;
LOCATE COMP "VID_DDR_DAT[5]" SITE "139" ;
LOCATE COMP "VID_DDR_DAT[6]" SITE "132" ;
LOCATE COMP "VID_DDR_DAT[7]" SITE "133" ;

LOCATE COMP "VID_DDR_DAT[8]" SITE "127" ;
LOCATE COMP "VID_DDR_DAT[9]" SITE "128" ;
LOCATE COMP "VID_DDR_DAT[10]" SITE "125" ;
LOCATE COMP "VID_DDR_DAT[11]" SITE "126" ;

LOCATE COMP "I2C_C" SITE "28" ;
LOCATE COMP "I2C_D" SITE "27" ;

LOCATE COMP "EncA_QA" SITE "33" ;
LOCATE COMP "EncA_QB" SITE "32" ;
LOCATE COMP "EncB_QA" SITE "54" ;
LOCATE COMP "EncB_QB" SITE "52" ;